<div>

  <input type="file" #csvReader name="upload" id="upload" (change)="uploadFile($event)" accept=".csv,.xlsx" />

  <table *ngIf="records.length > 0"> 
    <thead>
      <tr>
        <th *ngFor="let key of getKeys(records)">{{ key }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of records">
        <td *ngFor="let key of getKeys(records)">{{ record[key] }}</td>
    </tr>
    </tbody> 
  </table>

  <ul *ngIf="sheets.length > 1">
    <li *ngFor="let sheet of sheets; index as i;" (click)="getSheet(sheet)"> 
      <span> {{sheet}} </span>
    </li>
  </ul>

</div>